#Env Variable
.env

#System
/logs/*
/config/test_chat.js

#NPM Modules
/node_modules
/frontend/node_modules

#Front End
/frontend/.expo
/frontend/web-build
/frontend/dist

#Firebae
firebase-debug.log
firebase.json
.firebaserc
